Package: python3-ptrace
Source: python-ptrace
Version: 0.9.9-0.3
Architecture: riscv64
Maintainer: Pierre Chifflier <pollux@debian.org>
Installed-Size: 386
Depends: python3 (<< 3.14), python3 (>= 3.13~), python3:any, libc6 (>= 2.27)
Section: python
Priority: optional
Homepage: https://github.com/vstinner/python-ptrace
Description: Python 3 bindings for ptrace
 This package provides Python bindings for the ptrace library. It allows
 controlling, debugging, or modifying processes using the ptrace syscall.
 .
 Features:
  * High level Python object API
  * Able to control multiple processes: catch fork events
  * Read/write bytes to arbitrary addresses
  * Execution step by step using ptrace_singlestep() or hardware int 3
  * Can use distorm disassembler
  * Dump registers, memory mappings, stack, etc.
  * Syscall tracer and parser (strace command)
 .
 This package provides the ptrace Python module for Python 3.x.
